<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_xB3064DOl9XMO_0C9kN6GEJCoVag5g2ZsQ&usqp=CAU" class="d-block w-100" alt="..." style="height: 200px;">
      <div class="carousel-caption d-none d-md-block">
        <h2>Lomba Kelereng</h2>
        <p>Daftar sekarang dan menangkan hadiahnya</p>
      </div>
    </div>
  </div>
</div>

<div class="list-content">
  <ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item" id="information1">
      <a routerLink="tournament">Informasi</a>
    </li>
    <li class="list-group-item">
      <a routerLink="pendaftaran" id="pendaftaran1">Pendaftaran</a>
    </li>
    <li class="list-group-item">
      <a routerLink="lomba">Pertandingan</a>
    </li>
    <li class="list-group-item">
      <a routerLink="lomba">Hasil</a>
    </li>
  </ul>
</div>
<section>
  <div class="tournament-list">
    <div class="tournament-list-infomation">
      <a routerLink="#information1"></a>
        <div class="information">Lomba kelereng adalah salah satu perlombaan yang paling poluper dilaksanakan pada perayaan Proklamasi Kemerdekaan Indonesia 17 Agustus</div><br>
         <div class="play">Cara bermain :</div>
         <div class="play-game">1. Berjalan cepat setengah lari menjaga kelereng agar tidak jatuh.<br>
                                2. Apabila kelereng jatuh dari sendok maka dinyatakan kalah.<br>
                                3. Untuk menentukan pemenang dilihat dari peserta yang sampai terlebih dahulu dengan kelereng yang tidak jatuh.</div>
    </div>
  </div>
</section>

<section>
  <div class="tournament-list">
    <div class="tournament-list-pendaftaran">
      <a routerLink="#pendaftaran1"></a>
    </div>
  </div>

</section>