<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT_xB3064DOl9XMO_0C9kN6GEJCoVag5g2ZsQ&usqp=CAU" class="d-block w-100" alt="..." style="height: 200px;">
        <div class="carousel-caption d-none d-md-block">
          <h2>Lomba Kelereng</h2>
          <p>Daftar sekarang dan menangkan hadiahnya</p>
        </div>
      </div>
    </div>
  </div>

  <div class="list-content">
    <ul class="list-group list-group-horizontal-lg">
      <li class="list-group-item">
        <a routerLink="tournament">Informasi</a>
      </li>
      <li class="list-group-item">
        <a routerLink="pendaftaran">Pendaftaran</a>
      </li>
      <li class="list-group-item">
        <a routerLink="lomba">Pertandingan</a>
      </li>
      <li class="list-group-item">
        <a routerLink="lomba">Hasil</a>
      </li>
    </ul>
  </div>