<section>
        
  <!-- Default form register -->
  <form class="text-center border border-light p-5">

    <p class="h4 mb-4">Login</p>
    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>

    <!-- Sign up button -->
    <button class="btn btn-dark my-4 btn-block" type="submit">Login</button>
    <hr>

    <!-- Terms of service -->
    <p>By clicking
      <em>Sign up</em> you agree to our
      <a href="" target="_blank">terms of service</a>

  </p></form>
  <!-- Default form register -->

</section>
<!--Section: Live preview-->